body {
  background-color: #313B4C;
  background-image: url("https://www.housingwire.com/ext/resources/images/editorial/A-New-Big-Images/technology/tech_two.jpg?1470759677");
  background-size: cover;
  color: #333;
  font-family: monospace;
  padding: 18vh 1rem;
  text-align: center;
}


a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

div.container-fluid {
  border-bottom: 2px solid;
  box-shadow: 0px 30px 40px rgba(0,0,0,.1);
  color: #313B4C;


}

h2 {
  font-size: 4.5rem;
  text-align: center;
  font-family: sans-serif;
  color: white;
  opacity: 0.7;

}



.card {
  opacity: 0.5;
  scroll-behavior: smooth;
  box-shadow: 5px 7px;
  border: 1px solid black;
  border-radius: 2%;
  background-color: #ffffff;
  margin: 95px;
  padding: 55px;
  font-size: 16px;
  height: 455px;

}

img.card-img-top {
  width: center;


}

img.card-img {
  width: 260px;

}
.fa {
    padding: 2px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.navbar {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: normal;
    justify-content: space-around;
    opacity: 0.5;

}


input[type=text], select, textarea {
    text-align: center;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.7;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 13px;
    resize: vertical

}

/* Style the submit button */
input[type=submit] {
    background-color: #313B4C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.8;

}

/*  Add a darker green color when moving the mouse over the submit button,*/
input[type=submit]:hover {
    background-color: #204060;
}
