body {
  background-color: #313B4C;
  background-image: url("https://www.housingwire.com/ext/resources/images/editorial/A-New-Big-Images/technology/tech_two.jpg?1470759677");
  background-size: cover;
  color: #333;
  font-family: monospace;
  text-align: center;
  margin-bottom: 3%;
}

.navbar {
  background-color: white;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  height: 8%;
  width: 100%;
  font-weight: normal;
  justify-content: space-around;
  opacity: 0.4;
  font-size: 22px;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

div.container-fluid {
  border-bottom: 4px solid;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  color: #313B4C;
}

h1 {
  color: white;
  font-size: 3rem;
  margin-top: 25px;
  opacity: 0.5;
}

h2 {
  font-size: 4.5rem;
  text-align: center;
  font-family: sans-serif;
  color: white;
  opacity: 0.7;
  margin-top: 85px;
  margin-bottom: 45px;
}

h3 {
  color: white;
}

img.home {
  width: center;
  margin-top: 25px;
  opacity: 0.2;
  border-radius: 15px;
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
}

.card {
  opacity: 0.5;
  scroll-behavior: smooth;
  box-shadow: 5px 7px;
  border: 1px solid black;
  border-radius: 2%;
  background-color: #ffffff;
  margin: 40px;
  padding: 55px;
  font-size: 16px;
  height: 555px;
  width: 380px;
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
}

img.card-img-top {
  width: 100%;
}

.about-card {
  opacity: 0.5;
  scroll-behavior: smooth;
  box-shadow: 5px 7px;
  border: 1px solid black;
  border-radius: 2%;
  background-color: #ffffff;
  margin: 40px;
  padding: 55px;
  font-size: 16px;
  height: 555px;
  width: center;
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
}

img.card-img {
  width: 360px;
}

div.btn {
  font-size: 50px;
}

.fa {
  padding: 2px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

input[type=text],
select,
textarea {
  text-align: center;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0.7;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 13px;
  resize: vertical;
}

input[type=submit] {
  background-color: #313B4C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
}

input[type=submit]:hover {
  background-color: #204060;
}

textarea#subject {
  margin-left: 92px;
  margin-right: 0;
}

.education {
  opacity: 0.5;
  scroll-behavior: smooth;
  box-shadow: 5px 7px;
  border: 1px solid white;
  border-radius: 2%;
  background-color: #ffffff;
  margin: 40px;
  padding: 55px;
  font-size: 16px;
  height: 350px;
  width: center;
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
}

.work_experience {
  opacity: 0.5;
  scroll-behavior: smooth;
  box-shadow: 5px 7px;
  border: 1px solid black;
  border-radius: 2%;
  background-color: #ffffff;
  margin: 40px;
  padding: 55px;
  font-size: 16px;
  height: 750px;
  width: center;
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
}

.container-footer {
  background-color: white;
  position: relative;
  bottom: 0;
  height: 30%;
  width: 100%;
  font-weight: normal;
  justify-content: space-around;
  opacity: 0.4;
  font-size: 18px;
  margin-top: 3%;
  -moz-box-shadow: 0 0 50px white;
  -webkit-box-shadow: 0 0 50px white;
}

.social {
  font-size: 30px;
  margin: 10%;
}
