body {
  background-color: #313B4C;
  background-image: url("https://www.housingwire.com/ext/resources/images/editorial/A-New-Big-Images/technology/tech_two.jpg?1470759677");
  background-size: cover;
  color: #333;
  font-family: monospace;
  padding: 18vh 1rem;
  text-align: center;
}


a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

div.container-fluid {
  border-bottom: 2px solid;
  box-shadow: 0px 30px 40px rgba(0,0,0,.1);
  color: #313B4C;


}

h2 {
  font-size: 4.5rem;
  text-align: center;
  color: white;
  opacity: 0.5;

}


.card {
  opacity: 0.4;
  scroll-behavior: smooth;
  box-shadow: 5px 7px;
  border: 1px solid black;
  border-radius: 2%;
  background-color: #ffffff;
  margin: 95px;
  padding: 55px;
  font-size: 16px;
}

img.card-img-top {
  width: center;

}

.fa {
    padding: 2px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


.navbar {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: normal;
    justify-content: space-around;
    opacity: 0.5;



}
