-# 
-# %footer
-#   .container-footer
-#     .row.text-center.text-md-left.mt-3.pb-3
-#       .col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
-#         %h4.title.mb-4.font-bold Isabelles portfolio
-#         %p On this website you will find all of my projects during my time at Craft Academy bootcamp.
-#       %hr.w-100.clearfix.d-md-none/
-#       .col-md-4.col-lg-3.col-xl-3.mx-auto.mt-3
-#         %p
-#           %i.fa.fa-home.mr-3
-#           Zurich, Switzerland
-#         %p
-#           %i.fa.fa-envelope.mr-3
-#           isabellelidberg@live.se
-#         %p
-#           %i.fa.fa-phone.mr-3
-#           +41 76 450 59 51
-#       .col-md-4.col-lg-3.ml-lg-0
-#         .social-section.text-center.text-md-left
-#           .social
-#             %a.fa.fa-instagram{:href => "https://www.instagram.com/isabellelidberg/"}
-#             %a.fa.fa-facebook{:href => "https://www.facebook.com/isabelle.lidberg"}
-#             %a.fa.fa-github{:href => "https://github.com/isabellelii"}
-#             %a.fa.fa-linkedin{:href => "https://linkedin.com/in/isabelle-lidberg"}
