.navbar
  %a.active{:href => "index.html"} HOME
  %a.active{:href => "projects.html"} PROJECTS
  %a.active{:href => "about.html"} ABOUT
  %a.active{:href => "contact.html"} CONTACT
  %a.active{:href => "cv.html"} CV
