!!!
%html.full-height{:lang => "en"}
  %body
    %header
      %nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.scrolling-navbar
        %a.navbar-brand{:href => "index.html"}
          %strong HOME
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item
              %a.nav-link{:href => "projects.html"} PROJECTS
              %span.sr-only (current)
            %li.nav-item
              %a.nav-link{:href => "about.html"} ABOUT
            %li.nav-item
              %a.nav-link{:href => "cv.html"} CV
            %li.nav-item
              %a.nav-link{:href => "contact.html"} CONTACT
      .view.intro-2{:style => "https://github.com/isabellelii/my_portfolio/blob/master/source/images/code.jpeg?raw=true"}
        .mask.flex-center.rgba-black-light
          .col-md-10
            %h2.display-3.font-weight-bold.white-text.mb-2 Isabelle Lidberg
            %hr.hr-light/
            %h4.white-text.my-4 Full-stack web developer
