.container-fluid
  %h2 PORTFOLIO

.about-card
  %img.card-img{:alt => "Card image cap", :src => "https://elinisabelles.files.wordpress.com/2017/10/img_8300.jpg"}
  .card-body
    %h4.card-title About me
    %p.card-text My name is Isabelle and i'm a 23 y/o programming student, studying remote from Zurich, Switzerland.
    %p.card-text On this website you can look at all of my projects that i've done during my time at Craft Academy and everything that I'll create in the feature.
    %a.fa.fa-instagram{:href => "https://www.instagram.com/isabellelidberg/"}
    %a.fa.fa-facebook{:href => "https://www.facebook.com/isabelle.lidberg"}
    %a.fa.fa-github{:href => "https://github.com/isabellelii"}
    %a.fa.fa-linkedin{:href => "https://linkedin.com/in/isabelle-lidberg"}
