.about-card
  %img.card-img{:alt => "Card image cap", :src => "https://elinisabelles.files.wordpress.com/2017/10/img_8300.jpg"}
  .card-body
    %h4.card-title About me
    %p.card-text I am a Swedish, 23 year old, junior full-stack web developer that lives in Zurich, Switzerland. I am currently attending a course based on real-life projects with focus on building web applications with advanced technologies to become a Full-Stack Web Developer and I will graduate with a certificate in Web development in mid-April. This course allowed me to attain a strong foundation of technical skills. In addition to my Web Development skills, I also possess a great eye for design. Building state-of-the-art, easy to use, user-friendly websites and applications is truly a passion of mine. Beside my knowledge base, I actively seek out new technologies and stay up-to-date on industry trends and advancements.
    %a.fa.fa-instagram{:href => "https://www.instagram.com/isabellelidberg/"}
    %a.fa.fa-facebook{:href => "https://www.facebook.com/isabelle.lidberg"}
    %a.fa.fa-github{:href => "https://github.com/isabellelii"}
    %a.fa.fa-linkedin{:href => "https://linkedin.com/in/isabelle-lidberg"}
