.container-fluid
  %h2 PORTFOLIO

.container
%h3 CONTACT ME
.form
  %form{:contact => "contact.html.haml"}
  %input#fname{:name => "firstname", :placeholder => "Your name..", :type => "text"}/
  %input#lname{:name => "email", :placeholder => "Your email", :type => "text"}/
  %textarea#subject{:name => "subject", :placeholder => "Write your text", :style => "height:200px"}
  %input{:type => "submit", :value => "Submit"}/
