.container
.row
  .col-md-12
    .page-header
      %h1 My timeline
    %ul.timeline
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-off
        .timeline-panel
          .timeline-heading
            %h4.timeline-title Thorén Business School
            %h3.timeline-text Business and communication program
            %p 2011-2014
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-check
        .timeline-panel
          .timeline-heading
            %h4.timeline-title COOP Sweden
            %h3.timeline-text Customer sales and service representative
            %p 2012-2015
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-check
        .timeline-panel
          .timeline-heading
            %h4.timeline-title SNA Europe
            %h3.timeline-text Order Administator
            %p 2015
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-check
        .timeline-panel
          .timeline-heading
            %h4.timeline-title Elgiganten
            %h3.timeline-text Sales manager
            %p 2015-2017
      %li.timeline-item
        .timeline-badge
          %i.glyphicon.glyphicon-check
        .timeline-panel
          .timeline-heading
            %h4.timeline-title QualySense AG
            %h3.timeline-text Applications development assistant
            %p 2017-Present
