.wrapper
  %header
    %nav
      %p test

  %section
    .info
    %p Text

  %section
    .info
    %p Some text
  %section
    .info
    %p More text

  %footer
    %p even more text

    .projects
      - data.projects.each do |project|
        %h4= project[:name]
        %p= project[:description]
