.container-fluid
  %h2 PORTFOLIO


.container
.card-group
  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
    .card-body
      %h5.card-title Card title
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
    .card-body
      %h5.card-title Card title
      %p.card-text This card has supporting text below as a natural lead-in to additional content.

  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
    .card-body
      %h5.card-title Card title
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
.card-group
  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
    .card-body
      %h5.card-title Card title
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
    .card-body
      %h5.card-title Card title
      %p.card-text This card has supporting text below as a natural lead-in to additional content.

  .card
    %img.card-img-top{:alt => "Card image cap", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
    .card-body
      %h5.card-title Card title
      %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.



.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]
