-# .container-card
-# .card-deck
-#   -data.projects.each do |project|
-#     .card
-#       %img.card-img-top{:alt => "Card image", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
-#       .card-body
-#         %h5.card-title= project[:name]
-#         %p.card-text= project[:description]
-#         .d-flex.justify-content-between.align-items-center
-#       .btn
-#         %a.fa.fa-github{:href => "https://github.com/isabellelii"}
-# .card-deck
-#   -data.projects.each do |project|
-#     .card
-#       %img.card-img-top{:alt => "Card image", :src => "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2011/06/Computer-Code.jpg"}/
-#       .card-body
-#         %h5.card-title= project[:name]
-#         %p.card-text= project[:description]
-#         .d-flex.justify-content-between.align-items-center
-#       .btn
-#         %a.fa.fa-github{:href => "https://github.com/isabellelii"}
-#
-# %video{:controls => "", :height => "240", :width => "320"}
-#   %source{:src => "brokenomoreview_kopia.mp4", :type => "video/mp4"}
-#     %source{:src => "CooperTestApplication_(1).mp4", :type => "video/mp4"}

/ Section: Presentation
%section.section.py-3.grey.lighten-3
  %h1.text-center.text-uppercase.font-weight-bold.mt-5.mb-3.mt-5 My projects
  / Section description
  %p.text-center.text-uppercase.font-weight-bold All about my work
  / Section description
  %p.section-description.mt-5.pt-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam. At ab ea a molestiae corrupti numquam quo beatae minima ratione magni accusantium repellat eveniet quia vitae.
  / First row
  .row.ml-3.mr-3.pb-4.pt-1
    / First column
    .col-md-12
      #mdb-lightbox-ui
      / Full width lightbox
      .mdb-lightbox
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(135).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(135).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(128).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(128).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(133).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(133).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(131).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(131).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(130).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(130).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(132).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(132).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(134).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(134).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
        %figure.col-md-3
          %a{"data-size" => "1600x1067", :href => "https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(1).jpg"}
            %img.img-fluid.z-depth-1{:src => "https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg"}/
          %p.text-uppercase.font-weight-bold.blue-grey-text.mt-4 | Lorem ipsum dolor sit amet
    .col-md-12.text-center.py-4
      %a.btn.btn-outline-black.waves-effect
        %strong more
