.container-fluid
  %h2 PORTFOLIO


.wrapper
  .card-deck
    .cards
      %img.card-img-top{:alt => "Project1", :src => "https://www.energyjobline.com/getasset/993cd6ae-4961-4688-8094-db2e323c752d/"}/
      .cards-block
      %h2.cards-title Project 1
      %p.cards-text This is one of my projects

    .cards
      %img.card-img-top{:alt => "Project2", :src => "https://ak5.picdn.net/shutterstock/videos/14350765/thumb/1.jpg"}/
      .cards-block
      %h2.cards-title Project 2
      %p.cards-text This is one of my projects

    .cards
      %img.card-img-top{:alt => "Project3", :src => "http://i1-news.softpedia-static.com/images/news2/Keep-Your-Programming-Code-Safe-Obfuscate-It-480832-2.jpg"}/
      .card-block
      %h2.cards-title Project 3
      %p.cards-text This is one of my projects


.projects
  - data.projects.each do |project|
    %h4= project[:name]
    %p= project[:description]
